<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}BASE{% endblock title %}</title>
</head>
<body>
    <header>
        <nav>
            <p><a href="{% url 'Teste_app:homeview' %}">Home</a></p>
                <hr>
            {% if user.is_authenticated %}
                <p><a href="{% url 'logout' %}">Logout</a></p>
                <hr>
                <p><a href="{% url 'Teste_app:update' user.id %}">Profile - update</a></p>
            {% else %}
                <p><a href="{% url 'Teste_app:register' %}">Criar uma conta</a></p>
                <hr>
                <p><a href="{% url 'login' %}">Login</a></p>
                <hr>
            {% endif %}
        </nav>
        {% block header %}
        {% endblock header %}
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
    <footer>
        {% block footer %}
        {% endblock footer %}
    </footer>
</body>
</html>